/*Positionering af Logout knap på Admin siden*/
.btn-fix {
    margin-top:7px;
    margin-right:7px;
}

.Search {
    margin-bottom:10px;
}

.Mover {
    width:100%;
    overflow:hidden;
    height:100px;
}

